
</body>
<!--<script src="/static/js/jquery-2.2.1.min.js"></script>-->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=dApOtvB5E3x6byHpUGHbRF1fxctCBdjw"></script>
<script src="/static/js/echarts.min.js"></script>
<script src="/static/js/dataTool.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/hunan.js"></script>
<script src="/static/js/bmap.js"></script>
<script src="/static/js/echarts-all.js"></script>
<script src="/static/js/zimu.js"></script>
</html>