<div class="left_1">
    <ul class="t_btn">
        <li>
            <button class="t_btn0" onclick="window.location='/101'">101</button>
        </li>
        <li>
            <button class="t_btn3" onclick="window.location='/202'">202</button>
        </li>
        <li>
            <button class="t_btn14" onclick="window.location='/203'">203</button>
        </li>
        <li>
            <button class="t_btn13" onclick="window.location='/user'">用户列表</button>
        </li>
        <li>
            <button class="t_btn2" onclick="window.location='/notice'">公告列表</button>
        </li>
        <li>
            <button class="t_btn4" onclick="window.location='/authorizationCode'">授权码列表</button>
        </li>
        <li>
            <button class="t_btn1" onclick="window.location='/allUsers'">用户信息</button>
        </li>
        <li>
            <button class="t_btn6" onclick="window.location='/getRecord'">预定记录</button>
        </li>
        <li>
            <button class="t_btn7" onclick="window.location='/version'">更新版本</button>
        </li>
        <li>
            <button class="t_btn5" onclick="window.location='/chatList'">聊天信息</button>
        </li>
        <li>
            <button class="t_btn8" onclick="window.location='/other'">其他功能</button>
        </li>
        <li>
            <button class="t_btn9" onclick="window.location='/clean'">数据清理</button>
        </li>
    </ul>
</div>