#include("header.html", {title : "用户列表"})
<style>
    td,th{
        border: 1px solid #4788fb !important;
        background-color: rgb(12, 27, 45);
        color: #fff;
    }
</style>
<body>
    <!--header-->
    <div class="header">
        <div class="bg_header">
            <div class="header_nav fl t_title">
                一点通座位预定系统
            </div> 
        </div>
        <div class="header_nav fl">
        </div>
        <div class="header_myself fr t_height">
            <a class="t_a" href="/">返回 &nbsp;</a>
        </div>
    </div>
    <!--main-->
    <div class="data_content">
        <div class="data_main">
            <div class="main_left fl">
               #include("menu.html")
            </div>
            <div class="main_center fl">
                <div class="center_text t_cos0">
                    <!--左上边框-->
                    <div class="t_line_box">
                        <i class="t_l_line"></i> 
                        <i class="l_t_line"></i> 
                    </div> 
                    <!--右上边框-->
                    <div class="t_line_box">
                        <i class="t_r_line"></i> 
                        <i class="r_t_line"></i> 
                    </div> 
                    <!--左下边框-->
                    <div class="t_line_box">
                        <i class="l_b_line"></i> 
                        <i class="b_l_line"></i> 
                    </div> 
                        <!--右下边框-->
                        <div class="t_line_box">
                        <i class="r_b_line"></i> 
                        <i class="b_r_line"></i> 
                    </div> 
                    <div class="main_title">
                         用户列表
                    </div>

                    <div id="users" style="width:95%;position: absolute;margin-left: 3%;margin-top: 5%;">
                        <button class="layui-btn layui-btn-normal" data-toggle="modal" data-target="#myModal"
                        style="background-color: rgb(12, 27, 45);">添加用户</button>
                        <table class="layui-table" id="sendMessage">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>学号</th>
                                <th>联系方式</th>
                                <th>操作</th>
                                <th>消息</th>
                            </tr>
                            </thead>
                            <tbody>
                            #for(Users user : users.rows)
                            <tr>
                                <td>${user.username}</td>
                                <td>${user.stuID}</td>
                                <td>${user.tel}</td>
                                <td> <a onclick="delUser(${user.id});" style="color: #fff;">删除</a></td>
                                <td data-method="setTop" onmouseover="setId(${user.id});"><a><i class="fa fa-wechat" style="color: #ba970b"></i></a></td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                        <div id="demo2" style="margin-left: 25%; "></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--添加用户的模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="background-color:rgba(12, 27, 45, 0.3); color: #fff;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加用户
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-block">
                                <input type="text" name="stuId" id="stuId" lay-verify="title" autocomplete="off" placeholder="请输入学号" class="layui-input"
                                style="background-color: rgba(12, 27, 45, 0.3);">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addUser();">
                        添加
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="/static/layui/layui.all.js"></script>
    <script>
        var id ;

        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage
                ,layer = layui.layer;

            //自定义样式
            laypage.render({
                elem: 'demo2'
                ,count: ${users.totalRows}
                ,limit: 12
                ,curr : ${users.pageNum}
                ,theme : '#0C1B2D'
                ,jump: function(obj, first) {
                    //obj包含了当前分页的所有参数，比如：
                    if(!first){
                        //do something
                        window.location="user?page="+obj.curr;
                    }
                }
            });
            //-------------------------------------------------
            //触发事件
            var active = {
                setTop: function(){
                    var that = this;
                    //多窗口模式，层叠置顶
                    layer.open({
                        type: 1 //此处以iframe举例
                        ,title: '请输入消息内容：'
                        ,area: [$(window).width()/2+'px',
                            '300px']
                        ,shade: 0
                        ,maxmin: true
                        ,offset: [ //为了演示，随机坐标
                            150
                            ,0
                        ]
                        ,content: '<form class="layui-form">  <div class="layui-form-item layui-form-text">\n' +
                            '    <div class="layui-input-block" style="margin-top: 5%;margin-left: 0%;">\n' +
                            '      <textarea placeholder="请输入内容" id="content" class="layui-textarea"></textarea>\n' +
                            '    </div>\n' +
                            '  </div></form>'
                        ,btn: ['发送', '关闭'] //只是为了演示
                        ,btn1: function(){
                            sendMessage();
                            alert("发送成功！");
                            layer.closeAll();
                        }
                        ,btn2: function(){
                            layer.closeAll();
                        }

                        ,zIndex: layer.zIndex //重点1
                        ,success: function(layero){
                            layer.setTop(layero); //重点2
                        }
                    });
                }
            };

            $('#users td').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });
            //-------------------------------------------------

        });
        function delUser(ob) {
            $.post("/delUser",{
                id : ob
            }, function (data, status) {
                alert(data.message);
                window.location.reload();
            })
        }
        function addUser() {
            var stuId = $('#stuId').val();
            $.post("/addUser",{
                stuId : stuId
            }, function (data, status) {
                alert(data.message);
                window.location.reload();
            })
        }
        function  setId(ob) {
            id = ob;
        }
    </script>
#include("footer.html")